{% extends './base.html' %}

{% load static %}

{% block content %}


<div class="row">
    {% include "./adm_head.html" %}

    <div class="col-sm-9">

        <div class="row">
            <div class="col-sm-12 mt-30">

                {% if evt_id %}
                <form action="{% url 'polls:adm_event_detail' company.comp_slug evt_id %}" method="post">
                {% else %}
                <form action="{% url 'polls:adm_create_event' company.comp_slug %}" method="post">
                {% endif %}
                    {% csrf_token %}

                    <!-- Hidden field where the referer is identified to go back to the related page after validation -->
                    <input type="hidden" name="url_dest" value="{{ url_dest }}" />

                    <br>

                    <!-- Accordion -->
                    <div id="eventDetails" class="accordion shadow">

                        <div class="card">
                            <div class="card-header bg-white shadow-sm border-0">
                                <h6 class="mb-0 font-weight-bold">
                                    Evénement
                                </h6>
                            </div>
                            <div class="card-body p-5">
                                <p>Nom : {{event_form.event_name}} </p>
                                <p>Date : {{event_form.event_date}} </p>
                            </div>
                        </div>
            
                        <!-- Accordion item 1 - Event's options -->
                        <div class="card">
                        <div id="headingOne" class="card-header bg-white shadow-sm border-0">
                            <h6 class="mb-0 font-weight-bold">
                                <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="d-block position-relative text-dark collapsible-link py-2">
                                    Options
                                </a>
                            </h6>
                        </div>
                        <div id="collapseOne" aria-labelledby="headingOne" data-parent="#eventDetails" class="collapse">
                            <div class="card-body p-5">
                                <p>Quorum : {{event_form.quorum}} </p>
                                <p>Mode de scrutin : {{event_form.rule}} </p>
                            </div>
                        </div>
                        </div>

                        <!-- Accordion item 2 - Event's groups -->
                        <div class="card">
                            <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
                                <h6 class="mb-0 font-weight-bold">
                                    <a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-block position-relative collapsed text-dark collapsible-link py-2">
                                        Groupes d'utilisateurs
                                    </a>
                                </h6>
                            </div>
                            <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#eventDetails" class="collapse show">
                                <div class="card-body p-5">
                                    <p>Sélectionnez le(s) groupe(s) d'utilisateurs participants à l'événement :</p>
                                    {{ event_form.groups }}

                                    <p></p>
                                </div>
                            </div>
                        </div>

                        <!-- Accordion item 3 - Event's questions -->
                        <div class="card">
                        <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                            <h6 class="mb-0 font-weight-bold">
                                <a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-block position-relative collapsed text-dark collapsible-link py-2">
                                    Questions / Résolutions
                                </a>
                            </h6>
                        </div>
                        <div id="collapseThree" aria-labelledby="headingThree" data-parent="#eventDetails" class="collapse">
                            <div class="card-body p-5">
                                <p class="font-weight-light m-0">Entrez les questions à l'ordre du jour ; elles seront présentées selon l'ordre de leur numéro.</p>
                                <br>
                                {{ question_set.as_p }}
                            </div>
                        </div>
                        </div>

                    </div> <!-- Accordion end -->


                    <button class="btn btn-success mt-5" type="submit">{% if evt_id %}Mettre à jour{% else %}Créer{% endif %}</button>
                    &nbsp &nbsp &nbsp
                    <a class="btn btn-secondary back_btn mt-5" href="*">Annuler</a>
                    <div class="row">
                        <div hidden>
                            <!-- List of groups in event -->
                            {{ event_form.group_list }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}