{% extends './base.html' %}

{% load static %}

{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% block content %}

<div class="row">
    {% include "./adm_head.html" %}

    <div class="col-md-9">
        <!-- Right panel : admin actions
                1 bloc for each menu item, diplayed or hidden according to user's choice -->
        <input type="hidden" id="menu_id" value="2" /> <!-- Hidden value to store the current selected menu -->

        <div class="row">
            <div class="col-sm-12 align-items-center text-center">
                <h4 id="admin-users-details" class="mt-5">Gestion des utilisateurs</h4>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <ol class="mt-30">
                        {% for usr in user_list  %}
                            <li class="mt-10 {% if usr.is_admin %}is_admin{% endif %}">
                                {{ usr.user.last_name }} {{ usr.user.first_name }} {{ usr.user.username }}
    
                                <!-- Update buttons -->
                                <a type="button" class="update-user btn btn-sm" href="{% url 'polls:adm_user_profile' usr.user.id %}">
                                    <span class="fa fa-pencil" style="color: #339af0;" data-toggle="tooltip" title="Modifier"></span>
                                </a>
    
                                <!-- Delete buttons (except for the connected used himself) -->
                                {% if user.id != usr.user.id %}
                                <button type="button" class="delete-user btn btn-sm" data-toggle="modal" data-target="#delete_usr" data-usr-id="{{ usr.user.id }}" data-usr-name="{{ usr.user.last_name }}" data-usr-first-name="{{ usr.user.first_name }}">
                                    <span class="fa fa-trash" style="color: #ff6b6b;" data-toggle="tooltip" title="Supprimer"></span>
                                </button>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                </div>
    
                <div class="text-center">
                    <!-- Create button -->
                    <a type="button" class="create-user btn btn-primary" href="{% url 'polls:adm_create_user' %}">Nouvel utilisateur</a>
                    &nbsp &nbsp &nbsp
                    <button type="button" class="load-users btn btn-primary" data-toggle="modal" data-target="#load_usrs" >Charger un fichier</button>
                </div>
    
                <div>
                    <!-- Popup de suppression d'un utilisateur -->
                    <!-- tabindex property added to allow closing the modal with ESC key -->
                    <div id="delete_usr" class="modal fade hide" role="dialog" tabindex='-1'>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body text-center">
                                    <p id="dlte-confirm">Voulez-vous supprimer l'utilisateur ?</p>
    
                                    <form id="form_dlt_usr" action="{% url 'polls:adm_delete_user' 0 %}" method="post">
                                        {% csrf_token %}
                                        <button class="btn btn-primary" type="submit">Supprimer</button>
                                        &nbsp &nbsp &nbsp
                                        <button id="close_dlte_usr" class="btn btn-secondary close-btn">Annuler</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div>
                    <!-- Popup de chargement d'un fichier XL pour uploader des utilisateurs en masse -->
                    <!-- tabindex property added to allow closing the modal with ESC key -->
                    <div id="load_usrs" class="modal fade hide" role="dialog" tabindex='-1'>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body text-center">
                                    <h4 id="dlte-confirm">Choisir un fchier *.xls ou *.xlsx </h4>
    
                                    <form id="form_dlt_usr" action="{% url 'polls:adm_load_users' %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ upload_form.as_p }}
                                        <button class="btn btn-primary" type="submit">Charger</button>
                                        &nbsp &nbsp &nbsp
                                        <button class="btn btn-secondary close-btn">Annuler</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    
        </div>
    
    </div>
</div>

{% endblock %}
