{% extends './base.html' %}

{% load static %}

{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 align-items-center text-center">
                <h2 id="admin-polls">Administration des votes électroniques</h2>
                <input type="hidden" id="menu_id" value={{ admin_id }} /> <!-- Hidden value to store the current selected menu -->
            </div>
            <div class="col-md-3">
                <!-- Left panel : menu items -->
                <h4 id="menu-events" class="mt-5"><a href=javascript:void(0); onclick=adminEvents()>Evénements</a></h4>
                <h4 id="menu-users" class="mt-3"><a href=javascript:void(0); onclick=adminUsers()>Utilisateurs</a></h4>
                <h4 id="menu-groups" class="mt-3"><a href=javascript:void(0); onclick=adminGroups()>Groupes</a></h4>
                <h4 class="mt-30"><a href="{% url 'polls:index' %}">Accueil</a></h4>
            </div>
            <div class="col-md-9">
                <!-- Right panel : admin actions
                     1 bloc for each menu item, diplayed or hidden according to user's choice -->
                <div id="admin-events" class="row">
                    <h4 class="mt-5">Administration des événements</h4>
                </div>
                <div id="admin-users" class="row">
                    {% include "./admin_users.html" %}
                </div>
                <div id="admin-groups" class="row">
                    <h4 class="mt-5">Administration des groupes</h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}