{% extends './base.html' %}

{% load static %}

{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            {% include "./admin_head.html" %}

            <div class="col-md-9">
                <!-- Right panel : admin actions
                     1 bloc for each menu item, diplayed or hidden according to user's choice -->
                <input type="hidden" id="menu_id" value="1" /> <!-- Hidden value to store the current selected menu -->
                <div id="admin-events" class="row">
                    <h4 class="mt-5">Administration des événements</h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}