{% extends 'adminlte/base.html' %}
{% load static %}

{% block title %}Votes{% endblock %}


{% block extra_head %}
    <!-- Favicon -->
    {% if company %}
        <link rel="icon" type="image/png" href="{{ company.logo.url }}" />
    {% elif event.company %}
        <link rel="icon" type="image/png" href="{{ event.company.logo.url }}" />
    {% endif %}

    <!-- Theme CSS - Includes Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static "polls/css/polls.css" %}" rel="stylesheet">
{% endblock %}

{% block bodyclass%}skin_yellow layout-top-nav{% endblock %}

{% block nav_header %}
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="../../index2.html" class="navbar-brand"><b>Admin</b>LTE</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="hidden-xs">{% firstof request.user.get_short_name request.user.get_username %}</span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <!-- Menu Footer-->
                                    {% block menu_footer %}
                                        {% if user.is_staff %}
                                        <li class="user-footer">
                                                <a href="/admin/" class="btn btn-default btn-flat">Administration</a>
                                        </li>
                                        <li class="divider"></li>
                                        {% endif %}
                                        <li class="user-footer">
                                            <a href="{% block logout_url %}{% url 'polls:logout' %}{% endblock %}" class="btn btn-default btn-flat">Déconnexion</a>
                                        </li>
                                    {% endblock %}

                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        <!-- /.container-fluid -->
        </nav>
    </header>
{% endblock %}

{% block content %}
    Just some example content
{% endblock %}

{% block extra_foot %}
    <!-- Custom scripts for this template -->
    <script src="{% static "polls/js/polls.js" %}"></script>
{% endblock %}