<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        {% load static %}

        {% block head %}{% endblock %}


        <title>Votes</title>

        <!-- Favicon -->
        {% if company.logo %}
            <link rel="icon" type="image/png" href="{{ company.logo.url }}" />
        {% elif event.company.logo %}
            <link rel="icon" type="image/png" href="{{ event.company.logo.url }}" />
        {% endif %}

        <!-- Theme CSS - Includes Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static "polls/css/polls.css" %}" rel="stylesheet">

    </head>

    <body class="d-flex flex-column vh-100">

        <header class="main-header">
            <!-- Header Navbar -->
            {% block nav_bar %}
            <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
                {% block logo %}
                <a href="{% url 'polls:index' %}" class="logo">
                    {% if company.logo is not NULL %}
                        <div class="logo-lg head-text-color">
                            <img src="{{ company.logo.url }}" height=50>
                            <a class="navbar-brand" href="{% url 'polls:index' %}"> {{ company.company_name }}</a>
                        </div>
                    {% elif event.company.logo is not NULL %}
                        <div class="logo-lg head-text-color">
                            <img src="{{ event.company.logo.url }}" height=50>
                            <a class="navbar-brand" href="{% url 'polls:index' %}"> {{ event.company.company_name }}</a>
                        </div>
                    {% endif %}
                </a>
                {% endblock %}

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">

                    <li class="dropdown user user-menu mr-5 ml-auto">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">{% firstof request.user.get_short_name request.user.get_username %}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <!-- Menu Footer-->
                            {% if user.is_staff %}
                                <li class="user-footer">
                                        <a href="/admin/" class="btn btn-default btn-flat">Administration</a>
                                </li>
                            {% endif %}
                            {% if user.is_superuser %}
                                <li class="user-footer">
                                    <a href="sign_up/" class="btn btn-default btn-flat">Création user</a>
                                </li>
                            {% endif %}
                            <li class="user-footer">
                                <a href="{% url 'polls:logout' %}" class="btn btn-default btn-flat">Déconnexion</a>
                            </li>
                        </ul>
                    </li>
                </div>
            </nav>
            {% endblock nav_bar %}
        </header>


        <!-- Main content -->
        <main class="flex-shrink-0 main-content" role="main">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>
        

        <!-- Footer -->
        <footer class="footer mt-auto py-3">
            {% block footer %} {% endblock %}
            <!-- <div class="container">
                <span class="text-muted">Place sticky footer content here.</span>
            </div> -->
        </footer>


        <!-- js scripts-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

        <!-- Custom scripts for this template -->
        <script src="{% static "polls/js/polls.js" %}"></script>

    </body>

</html>
