{% extends './base.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-10 align-items-center text-center">
                <h2>Prochain(s) événement(s) :</h2>
                <p></p>
                {% for event in next_event_list %}
                    <h3><a href="{% url 'polls:event' company.comp_slug event.slug %}"> {{ event.event_name }} </a></h2>
                    <p>Prévu le : {{ event.event_start_date|date:"d/m/Y" }}<p>
                {% empty %}
                    <h2 class="h2_perso">Aucun événement prévu</h2>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}