{% extends './base.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="offset-sm-1 col-sm-10">
                <h1 class="text-center">{{ event.event_name }} - {{ event.event_date|date:"d/m/Y" }}</h1>
                <p class="text-center">{{ nb_questions }} question{{ nb_questions|pluralize }} ser{{ nb_questions|pluralize:"a,ont" }} soumise{{ nb_questions|pluralize }} au vote :<p>
                <ol class="mt-30">
                    {% for question in question_list %}
                        <li class="mt-10">{{ question.question_text }}</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="offset-sm-4 col-sm-4 text-center">
                {% if user.is_staff and not event.current %}
                    <a class="btn btn-secondary mt-30 pb-2" type="button" href='{% url 'polls:question' event.slug 0 %}'>Lancer l'événement</a>
                {% elif event.current and user_can_vote or user.is_staff %}
                    <a class="btn btn-secondary mt-30 pb-2" type="button" href='{% url 'polls:question' event.slug 0 %}'>Accéder à l'événement</a>
                {% endif %}
                {% if user.is_staff %}
                    <form action='{% url 'polls:reinit' %}' method="post">
                    {% csrf_token %}
                    <input id="text" type="text" name="event_to_reinit" value="{{ event.slug }}" hidden>
                    <button class="btn btn-main" type="submit">Réinitialiser l'événement</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}