{% extends './base.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-10 align-items-center text-center">
                <h2>Bienvenue dans l'application de votes électroniques</h2>
                {% if user.is_superuser %}
                    <h3>Liste des entreprises</h3>
                    {% for company in comp_list %}
                        {% if company.logo is not NULL %}
                        <div class="logo-lg head-text-color">
                            <img src="{{ company.logo.url }}" height=50>
                        </div>
                        {% endif %}
                        <h4><a href="{% url 'polls:company_home' company.comp_slug %}"> {{ company.company_name }} </a></h4>
                    {% endfor %}
                {% elif not user.is_autenticated %}
                    <a class="btn btn-secondary mt-30 pb-2" type="button" href='{% url 'polls:login' %}'>Se connecter</a>
                {% endif %}

        </div>
    </div>

{% endblock %}