{% extends './base.html' %}

{% load static %}


{% block content %}

    <div class="container">
        <!-- General information about currect question -->
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">{{ event.event_name }} - {{ event.event_date|date:"d/m/Y" }}</h1>
                <p id="quorum" data-quorum="{{ event.quorum }}" hidden></p>
            </div>
        </div>
        <div class="row">
            <div class="offset-sm-3 col-sm-6">
                <h2 class="text-center pt-3">Résolution n° {{ question_no }}</h2>
                <p class="text-justify pt-3">{{ question.question_text }}</p>
            </div>
        </div>

        {% if user.is_staff %}
        <!-- For staff users, display votes' results -->
            <!-- Global results -->
            <div class="row align-items-center pt-3">
                <h3> Résultats </h3>
                <div class="col-sm-6">
                    <!-- Chart showing votes' results -->
                    <canvas id="global_chart" url-endpoint="{% url 'polls:chart_data' %}" event-slug="{{ event.slug }}" question-no="{{ question_no }}" ></canvas>
                </div>
                <div class="offset-sm-1 col-sm-3">
                    <!-- Progress bar showing nb votes vs total expected votes (i.e. nb users who should vote) -->
                    <h4 class="text-center pb-4">Votants</h4>
                    <div class="progress" style="height: 20px;">
                        <div id="global_nb_votes" class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <!-- Groups results -->
            {% for evt_group in evt_group_list %}
                <div class="row align-items-center pt-3">
                    <h3> {{ evt_group.group_name }} </h3>
                    <div class="col-sm-6">
                        <!-- Chart showing votes' results -->
                        <canvas id="chart{{ forloop.counter }}"></canvas>
                    </div>
                    <div class="offset-sm-1 col-sm-3">
                        <!-- Progress bar showing nb votes vs total expected votes (i.e. nb users who should vote) -->
                        <h4 class="text-center pb-4">Votants</h4>
                        <div class="progress" style="height: 20px;">
                            <div id="nb_votes{{ forloop.counter }}" class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <!-- For non-staff users, display votes' options -->
            <div class="row align-items-center pt-3">
                <div class="offset-sm-4 col-sm-4">
                    <form id="vote" action='.' method="post" data-url='{% url 'polls:vote' event.slug question_no %}' data-event="{{ event.slug }}" data-question="{{ question_no }}">
                    {% csrf_token %}
                        {% for choice in choice_list %}
                            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                        {% endfor %}
                        <p id="nb_votes" class="text-center">Vous disposez de {{ user_vote.nb_user_votes }} vote{{ user_vote.nb_user_votes|pluralize }}</p>
                        {% if user_vote.nb_user_votes > 1 %}
                            <p id="nb_proc" class="text-center">Vous avez reçu {{ user_vote.nb_user_votes|add:"-1" }} procuration{{ user_vote.nb_user_votes|add:"-1"|pluralize }}</p>
                        {% endif %}
                        <input type="submit" id="submit-btn" class="btn mt-3 {% if user_vote.nb_user_votes == 0 %}btn-grey" disabled{% else %}btn-success"{% endif %} value="Voter" />
                    </form>
                </div>
            </div>
        {% endif %}

    </div>

    <div class="text-center page-btn">
        {% if user.is_staff %}
            <div class="row col-sm-12 justify-content-center pt-5">
                <label id="switch" class="switch tooltip-test unactive" title="Activer / désactiver le rafraichissement automatique des données">
                    <input type="checkbox" class="bidon">
                    <span class="slider round"></span>
                </label>
            </div>
        {% endif %}

        <!-- Button to go to next question if any others, or go to global results page -->
        <div class="row col-sm-12 justify-content-center pt-3">
        {% if last_question %}
            <a class="btn btn-secondary" type="button" href="{% url 'polls:results' event.slug %}">Résultats</a>
        {% elif user_vote.has_voted or user.is_staff %}
            <a id="next-btn" class="btn btn-secondary" type="button" href="{% url 'polls:question' event.slug question_no|add:'1' %}">Résolution suivante</a>
        {% else %}
            <!-- In this case, user is non-staff member and has not voted yet : button disabled -->
            <a id="next-btn" class="btn btn-secondary disabled" type="button" href="{% url 'polls:question' event.slug question_no|add:'1' %}">Résolution suivante</a>
        {% endif %}
        </div>
    </div>

    <!-- Modal for user messages (vote acknowledgement) -->
    <div class="modal fade" id="voteOK" tabindex="-1" role="dialog" aria-labelledby="voteOK" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="voteOKTitle">Merci !</h5>
                </div>
                <div class="modal-body text-center">
                    <p class="mt-4">Votre vote a bien été pris en compte</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}