<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        {% load static %}

        <title>Votes</title>

        <!-- Theme CSS - Includes Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static "polls/css/polls.css" %}" rel="stylesheet">

    </head>

    <body class="d-flex flex-column vh-100">

        <header class="main-header">
            <!-- Header - Company info -->
            {{ company.logo }}
            {{ company.name }}
        </header>


        <!-- Main content -->
        <main class="flex-shrink-0 main-content" role="main">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Texte du projet des résolutions soumises</h1>
                        <h1 class="text-center">{{ event.event_name }} - {{ event.event_date|date:"d/m/Y" }}</h1>
                        <ol class="mt-30">
                            {% for question in question_list %}
                                <li class="mt-10">{{ question.question_text }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </main>
        

        <!-- Footer -->
        <footer class="footer mt-auto py-3">
            <div class="container">
                <span class="text-muted">Legal info content here.</span>
            </div>
        </footer>


        <!-- js scripts-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

        <!-- Custom scripts for this template -->
        <script src="{% static "polls/js/polls.js" %}"></script>

    </body>

</html>
