<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        {% load static %}

        <title>Votes</title>

        <!-- Favicon -->
        <!-- Theme CSS - Includes Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static "polls/css/polls.css" %}" rel="stylesheet">

    </head>

    <body class="d-flex flex-column vh-100">

        <header class="main-header">
            <!-- Header Navbar -->

        </header>


        <!-- Main content -->
        <main class="flex-shrink-0 main-content" role="main">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 text-center">
                        <h2>Désolé, la page que vous recherchez n'existe pas ou n'est pas disponible</h1>
                    </div>
                </div>
            </div>
        </main>
        

        <!-- js scripts-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

</html>
